/* Variables */
:root {
  --basic-black: #000000;
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-gray-dark: #333333;
  --basic-gray: #666666;
  --basic-gray-light: #cccccc;

  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);

  --special-blue: #81b3d2;
  --special-blue-opacity: rgba(129, 179, 210, 0.3);
  --special-blue-hover: #669EC0;
  --special-blue-focus: #5496BD;

  --special-brown: #766357;
  --special-brown-hover: #604E43;
  --special-brown-focus: #503E33;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* button */
.button {
  color: var(--basic-white);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  outline: none;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* main-navigation */
.main-navigation {
  position: relative;
  font-weight: 700;
  color: var(--basic-black);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-navigation-wrapper {
  background-color: inherit;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation .link {
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-navigation .link-gap {
  grid-column: 4 / 5;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--special-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/* welcome */
.welcome {
  text-align: center;
}

.welcome-image {
  background-color: var(--basic-gray-light);
  min-height: 510px;
  position: relative;
}

.welcome-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome h1 {
  font-size: 21px;
  font-weight: 700;
}

.welcome p {
  color: var(--basic-gray-dark);
}

/* features */

.features-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-image-left {
  grid-column: 1 / 3;
}

.features-image-right {
  grid-column: 2 / -1;
}

/* features-item */
.features-item {
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-item p {
  line-height: 21px;
}

.features-item-fill {
  background-color: var(--special-blue);
  color: var(--basic-white);
}

.features-item-clear {
  background-color: var(--basic-white);
}

.features-item-clear h3 {
  color: var(--basic-black);
}

.features-item-clear p {
  color: var(--basic-gray-dark);
}

/* features-advice-item */
.features-advice-item {
  text-align: center;
}

.features-advice-item h3 {
  color: var(--basic-black);
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.features-advice-item p {
  color: var(--basic-gray-dark);
  line-height: 21px;
}

/* map */
.map {
  text-align: center;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
}

.appointment-info {
  color: var(--basic-gray-dark);
  line-height: 24px;
}

.button-search-hotel {
  background-color: var(--special-brown);
}

.button-search-hotel:hover {
  background-color: var(--special-brown-hover);
}

.button-search-hotel:focus {
  background-color: var(--special-brown-focus);
  color: var(--basic-white-opacity);
}

/* search */
.search-result-sort {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.find-total-text {
  font-size: 21px;
  font-weight: 700;
  margin-right: 48px;
}

.find-sort-text,
.result-sort-list {
  font-size: 12px;
  line-height: 18px;
}

.find-sort-text {
  margin-right: 40px;
}

.result-sort-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.result-sort-item {
  color: var(--basic-black-opacity);
  cursor: pointer;
  margin-right: 33px;
}

.result-sort-item-active {
  color: var(--special-blue);
}

.result-sort-item:hover {
  color: var(--special-blue);
}

.result-sort-item:active {
  color: var(--basic-black);
}

.result-content-list {
  list-style: none;
  padding: 0;
}

.result-content-item {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 30px;
}

.result-content-item h3 {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}

.result-content-item p {
  line-height: 21px;
  color: var(--basic-gray-dark);
  margin: 0;
}

.result-content-item .rating {
  line-height: 21px;
  color: var(--basic-gray);
}

.result-item-img {
  height: 90px;
}

.result-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-content-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-result-reservation {
  background-color: var(--special-brown);
}

.button-result-reservation:hover {
  background-color: var(--special-brown-hover);
}

.button-result-reservation:focus {
  background-color: var(--special-brown-focus);
  color: var(--basic-white-opacity);
}

.button-result-details {
  background-color: var(--special-blue);
}

.button-result-details:hover {
  background-color: var(--special-blue-hover);
}

.button-result-details:focus {
  background-color: var(--special-blue-focus);
  color: var(--basic-white-opacity);
}

/* main-footer */
.footer-contacts-list {
  padding: 0 73px;
  display: flex;
}

.footer-contacts-item {
  width: calc(100% / 3);
}

.main-footer {
  color: var(--basic-black);
  text-align: center;
}

.footer-phone-text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-phone-text a {
  color: var(--basic-black);
}

.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social .social-button {
  color: var(--basic-black);
}

.footer-copyright .copyright-link {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
}

/* modal-find */
.modal-find {
  text-align: center;
}

.button-find-hotel {
  background-color: var(--special-blue);
}

.button-find-hotel:hover {
  background-color: var(--special-blue-hover);
}

.button-find-hotel:focus {
  background-color: var(--special-blue-focus);
  color: var(--basic-white-opacity);
}

.modal-find {
  display: none;
}
